@charset "UTF-8";

* {
    font-family: 'Courier New'; /* Fonte serifada e monoespaçada, PS: as aspas são pra quando a fonte tiver mais de uma palavra */
    font-size: 18px;
}

body {
    background-image: linear-gradient(to right, aqua, aquamarine);
    
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 13px cadetblue;
    padding: 15px;
    margin: auto;
    width: 700px;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    text-align: justify;
}